<div ng-controller="MainController">
	<div class="jumbotron">
		<h1>Welcome to Our Website!</h1>
	</div>
    <div class="row" ng-repeat="user in roles" id={{user.Name}}>
        <div ng-if="$even">
            <div class="col-sm-6">
                <h3 class="card-title">{{user.Name}}</h3>
                <p class="card-text">{{user.Role}}</p>
            </div>
            <div class="col-sm-6">
                <h3>{{roles[$index+1].Name}}</h3>
                <p>{{roles[$index+1].Name}}</p>
            </div>
        </div>
    </div>
</div>