<!DOCTYPE html>
<html>
<head>
  <title>NewsPhi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='main.css')}}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139697319-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139697319-1');
  </script>
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <section>
        <v-parallax src="/static/assets/san-francisco.jpg" height="600">
          <v-layout column align-center justify-center class="white--text">
            <a href="/NewsPhi" style="text-decoration: none">
              <h1 class="white--text mb-2 display-3 font-weight-medium text-xs-center">NewsPhi</h1>
            </a>
            <div class="subheading mb-3 text-xs-center">
              <p class="title">An Aid For Contextual News Consumption</p></div>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout column wrap class="my-5" align-center>
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h1 class="display-1">Our Mission</h1>
	        </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout column wrap align-center justify-center>
              	<div class="text-xs-center">
                  <p class="title">Our mission is to raise awareness for readers of controversial news topics and reputation of writers.</p>
                  <p class="title">The critical analysis service we provide will include a controversy score of the subject/topic of the article.</p>
                  <p class="title">Our aim is to encourage readers to select news they want to read instead of just giving them what to read.</p>
                  <p class="title">We provide a platform to warn users of which news topics to be aware.</p>
              	</div>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

	<section>
        <v-layout column wrap class="my-5" align-center>
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h1 class="display-1">Our Team</h1>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <div class="text-xs-center">
                <p class="title">We are MSDS Cohort 7 students at University of San Francisco.</p>
                <p class="title">We are data enthusiasts, data scientists, and we care about what people read everyday.</p>
              </div>
              <v-layout row wrap align-center>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/paul.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Paul Kim</h2>
                      		<span class="body-2">Project Manager</span>
						          </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/xi.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Xi Yang</h2>
                      		<span class="body-2">Lead Data Scientist</span>
						          </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/ziyu.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Ziyu Fan</h2>
                      		<span class="body-2">Data Scientist</span>
						          </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/brian.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Brian Wright</h2>
                      		<span class="body-2">Data Scientist</span>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                        <v-img src="/static/assets/us/jacques.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="text-xs-center">
                          <h2 class="title">Jacques Sham</h2>
                          <span class="body-2">DevOps Engineer</span>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                        <v-img src="/static/assets/us/crystal.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="text-xs-center">
                          <h2 class="title">Crystal Sun</h2>
                          <span class="body-2">Lead Engineer</span>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/yixin.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Yixin Sun</h2>
                      		<span class="body-2">Backend Engineer</span>
						          </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/lance.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="title">Lance Fernando</h2>
                      		<span class="body-2">Frontend Engineer</span>
						          </div>
                    </v-card-title>
                 </v-card>
                </v-flex>

              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>
    </v-content>
  </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    data () {
      return {
        title: 'NewsPhi'
      }
    }
  })
 </script>
</body>
</html>
