<!DOCTYPE html>
<html>
<head>
  <title>NewsPhi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
 <div id="app">
   <v-app light>
    <v-toolbar class="white">
      <v-toolbar-title v-text="title"></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <section>
        <v-parallax src="/static/assets/hero.jpeg" height="600">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <h1 class="white--text mb-2 display-1 text-xs-center">NewsPhi</h1>
            <div class="subheading mb-3 text-xs-center">An Aid For Contextual News Consumption</div>
            <v-btn
              class="blue lighten-2 mt-5"
              dark
              large
              href="/NewsPhi"
            >
              Run App
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h1 class="headline">Our Mission</h1>
	        </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout column wrap align-center justify-center>
              	<div class="text-xs-center">
              			What is it? Why use it? How does it work? What is our goal? ablsdkfjalskj
              	</div>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

	<section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h1 class="headline">Our Team</h1>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/paul.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Paul Kim</h2>
                      		<span class="subheading">Project Manager</span>
						</div>                      	
                    </v-card-title>
                 </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/jacques.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Jacques Sham</h2>
                      		<span class="subheading">DevOps Engineer</span>
						</div>                      	
                    </v-card-title>
                 </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/crystal.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Crystal Sun</h2>
                      		<span class="subheading">Lead Engineer</span>
						</div>                      	
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/xi.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Xi Yang</h2>
                      		<span class="subheading">Lead Data Scientist</span>
						</div>                      	
                    </v-card-title>
                  </v-card>
                </v-flex>         
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/ziyu.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Ziyu Fan</h2>
                      		<span class="subheading">Data Scientist</span>
						</div>                      	
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/brian.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Brian Wright</h2>
                      		<span class="subheading">Data Scientist</span>
						</div>                      	
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/yixin.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Yixin Sun</h2>
                      		<span class="subheading">Backend Engineer</span>
						</div>                      	
                    </v-card-title>
                  </v-card>
                </v-flex>                
                <v-flex xs12 md3>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      	<v-img src="/static/assets/us/lance.png"></v-img>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                    	<div class="text-xs-center">
                      		<h2 class="headline">Lance Fernando</h2>
                      		<span class="subheading">Frontend Engineer</span>
						</div>                      	
                    </v-card-title>
                 </v-card>
                </v-flex>                

              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">About us</div>
                </v-card-title>
                <v-card-text>
                  We are MSDS Cohort 7 students. adlkfjalsdkfjal
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Contact Us</div>
                </v-card-title>
                <v-card-text>
                  Feel free to reach our if you have any questions!
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>XXX-XXX-XXXX</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>San Francisco, US</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>john@something.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>

      <v-footer class="blue darken-2">
        <v-layout row wrap align-center>
          <v-flex xs12>
<!--             <div class="white--text ml-3">
              Made with
              <v-icon class="red--text">favorite</v-icon>
              by <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
              and <a class="white--text" href="https://github.com/vwxyzjn">Costa Huang</a>
            </div>
 -->          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
 </div>
 <script src="https://unpkg.com/vue/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
   new Vue({
    el: '#app',
    data () {
      return {
        title: 'NewsPhi'
      }
    }
  })
 </script>
</body>
</html>